/* Height */
    
/* With */
         
/* .w-0    {width: 0;}
.w-1	{width: 0.25rem;}
.w-2	{width: 0.5rem;}
.w-3	{width: 0.75rem;}
.w-4	{width: 1rem;}
.w-5	{width: 1.25rem;}
.w-6	{width: 1.5rem;}
.w-10	{width: 2.5rem;}
.w-12	{width: 3rem;}
.w-16	{width: 4rem;}
.w-20	{width: 5rem;}
.w-24	{width: 6rem;}
.w-32	{width: 8rem;}
.w-40	{width: 10rem;}
.w-48	{width: 12rem;}
.w-56	{width: 14rem;}
.w-64	{width: 16rem;}
.w-auto	{width: auto;}
.w-px	{width: 1px;}
.w-50	{width: 50%;}
.w-33	{width: 33.333333%;}
.w-2rd	{width: 66.666667%;}
.w-1fort	{width: 25%;}
.w-2fort	{width: 50%;}
.w-3fort	{width: 75%;}
.w-1fif	{width: 20%;}
.w-2fif	{width: 40%;}
.w-3fif	{width: 60%;}
.w-4fif	{width: 80%;}
.w-1sixt	{width: 16.666667%;}
.w-2sixt	{width: 33.333333%;}
.w-3sixt	{width: 50%;}
.w-4sixt	{width: 66.666667%;}
.w-5sixt	{width: 83.333333%;}
.w-1-12	{width: 8.333333%;}
.w-2-12	{width: 16.666667%;}
.w-3-12	{width: 25%;}
.w-4-12	{width: 33.333333%;}
.w-5-12	{width: 41.666667%;}
.w-6-12	{width: 50%;}
.w-7-12	{width: 58.333333%;}           

                /* Text */
/* .text-left	{text-align: left;}
.text-center	{text-align: center;}
.text-right	{text-align: right;}
.text-justify	{text-align: justify;} */ */

           /* Background colors */
.bg-black{
    background-color: #111111;
}
.bg-navy{
    background-color: #001f3f;
}
.bg-blue{
    background-color: #176BFF;
}
.bg-aqua{
    background-color:#0074D9;
}
.bg-teal{
    background-color: #39CCCC;
}
.bg-olive{
    background-color: #3D9970;
}
.bg-green{
    background-color: #02AB4A ;
}
.bg-yellow{
    background-color:  #FFDC00;
}
.bg-orange{
    background-color: #FF851B;
}
.bg-red{
    background-color: #FF201D ;
}
.bg-maroon{
    background-color: #85144b;
}
.bg-fuchsia{
    background-color: #F012BE;
}
.bg-purple{
    background-color: #B10DC9;
}
.bg-gray{
    background-color: #aaaaaa56;
}
.bg-silver{
    background-color: #DDDDDD;
}
.bg-lime{
    background-color: #111111;
}

            /* Padding */
/* .p-1{
    padding: 0.25rem;
}
.p-2{
    padding: 0.5rem;
}
.p-3{
	padding: 0.75rem;
}
.p-4{
	padding: 1rem;
}
.p-5{
	padding: 1.25rem;
}
.p-6{
	padding: 1.5rem;
}
.p-8{
	padding: 2rem;
}
.p-10{
	padding: 2.5rem;
}
.p-12{
	padding: 3rem;
}
.p-16{
    padding: 4rem;
}
.p-20{
	padding: 5rem;
} */
        /* Display */
/* .flex{
    display: flex;
}
.flex-start{
	align-items: flex-start;
}
.flex-end{
	align-items: flex-end;
}
.flex-center{
	align-items: center;
}
.flex-baseline{
	align-items: baseline;
}
.flex-stretch{
	align-items: stretch;
} */

/* .flex-shrink-0	{flex-shrink: 0;}
.flex-shrink	{flex-shrink: 1;} */

            /* Flex direction */
/* .flex-row	{flex-direction: row;}
.flex-row-reverse	{flex-direction: row-reverse;}
.flex-col	{flex-direction: column;}
.flex-col-reverse	{flex-direction: column-reverse;} */

            /* font family */

/* .font-sans	{font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-serif	{font-family: Georgia, Cambria, "Times New Roman", Times, serif;}
.font-mono	{font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;} */

/* font  */


/* 
.justify-start	{justify-content: flex-start;}
.justify-end	{justify-content: flex-end;}
.justify-center	{justify-content: center;}
.justify-between {justify-content: space-between;}
.justify-around	{justify-content: space-around;}
.justify-evenly	{justify-content: space-evenly;} */

                /* Space-Between */
/* .space-x-0 	{margin-left: 0;}
.space-y-1  {margin-top: 0.25rem;}
.space-x-1 	{margin-left: 0.25rem;}
.space-y-2 	{margin-top: 0.5rem;}
.space-x-2 	{margin-left: 0.5rem;}
.space-y-3 	{margin-top: 0.75rem;}
.space-x-3 	{margin-left: 0.75rem;}
.space-y-4 	{margin-top: 1rem;}
.space-x-4 	{margin-left: 1rem;}
.space-y-5 	{margin-top: 1.25rem;}
.space-x-5 	{margin-left: 1.25rem;}
.space-y-6 	{margin-top: 1.5rem;}
.space-x-6 	{margin-left: 1.5rem;}
.space-y-8 	{margin-top: 2rem;}
.space-x-8 	{margin-left: 2rem;}
.space-y-10 {margin-top: 2.5rem;}
.space-x-10 {margin-left: 2.5rem;}
.space-y-12 {margin-top: 3rem;}
.space-x-12 {margin-left: 3rem;}
.space-y-16 {margin-top: 4rem;}
.space-x-16 {margin-left: 4rem;}
.space-y-20 {margin-top: 5rem;}
.space-x-20 {margin-left: 5rem;}
.space-y-24 {margin-top: 6rem;}
.space-x-24 {margin-left: 6rem;}
.space-y-32 {margin-top: 8rem;}
.space-x-32 {margin-left: 8rem;}
.space-y-40 {margin-top: 10rem;}
.space-x-40 {margin-left: 10rem;}
.space-y-48 {margin-top: 12rem;}
.space-x-48 {margin-left: 12rem;}
.space-y-56 {margin-top: 14rem;}
.space-x-56 {margin-left: 14rem;}
.space-y-64 {margin-top: 16rem;}
.space-x-64 {margin-left: 16rem;}
.space-y-px {margin-top: 1px;}
.space-x-px {margin-left: 1px;}
.-space-y-1 {margin-top: -0.25rem;}
.-space-x-1 {margin-left: -0.25rem;}
.-space-y-2 {margin-top: -0.5rem;}
.-space-x-2 {margin-left: -0.5rem;}
.-space-y-3 {margin-top: -0.75rem;}
.-space-x-3 {margin-left: -0.75rem;}
.-space-y-4 {margin-top: -1rem;}
.-space-x-4 {margin-left: -1rem;}
.-space-y-5 {margin-top: -1.25rem;}
.-space-x-5 {margin-left: -1.25rem;}
.-space-y-6 {margin-top: -1.5rem;}
.-space-x-6 {margin-left: -1.5rem;}
.-space-y-8 {margin-top: -2rem;}
.-space-x-8 {margin-left: -2rem;}
.-space-y-10 {margin-top: -2.5rem;}
.-space-x-10 {margin-left: -2.5rem;}
.-space-y-12 {margin-top: -3rem;}
.-space-x-12 {margin-left: -3rem;}
.-space-y-16 {margin-top: -4rem;}
.-space-x-16 {margin-left: -4rem;}
.-space-y-20 {margin-top: -5rem;}
.-space-x-20 {margin-left: -5rem;}
.-space-y-24 {margin-top: -6rem;}
.-space-x-24 {margin-left: -6rem;}
.-space-y-32 {margin-top: -8rem;}
.-space-x-32 {margin-left: -8rem;}
.-space-y-40 {margin-top: -10rem;}
.-space-x-40 {margin-left: -10rem;}
.-space-y-48 {margin-top: -12rem;}
.-space-x-48 {margin-left: -12rem;}
.-space-y-56 {margin-top: -14rem;}
.-space-x-56 {margin-left: -14rem;}
.-space-y-64 {margin-top: -16rem;}
.-space-x-64 {margin-left: -18rem;}
.-space-y-px {margin-top: -1px;}
.-space-x-px {margin-left: -1px;} */

        /* List style */
/* .list-none	{list-style-type: none;}
.list-disc	{list-style-type: disc;}
.list-decimal	{list-style-type: decimal;} */